<!DOCTYPE html>
<html lang="en">
<head>
	<title>DBern...get lost. In a game!</title>
	<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

	<meta name="viewport" content="width=device-width" initial-scale="1">
    <script src="/assets/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="app"></div>
<script src="/bundle.js"></script>
<script src="/assets/memoDeck/PVector.js"></script>
<script src="/assets/memoDeck/globals.js"></script>
<script src="/assets/memoDeck/TextureManager.js"></script>
<script src="/assets/memoDeck/Mover.js"></script>
<script src="/assets/memoDeck/Coin.js"></script>
<script src="/assets/memoDeck/Board.js"></script>
<script src="/assets/memoDeck/ACard.js"></script>
<script src="/assets/memoDeck/Button.js"></script>
<script src="/assets/memoDeck/MainClass.js"></script>
<script src="/assets/memoDeck/DirectionCard.js"></script>
<script src="/assets/memoDeck/CardManager.js"></script>
<script src="/assets/memoDeck/Player.js"></script>
<script src="/assets/memoDeck/RoundManagement.js"></script>

</body>
</html>
